@font-face{font-family:'Playfair Display';src:url('../fonts/playfairdisplay-webfont.eot');src:url('../fonts/playfairdisplay-webfontd41d.eot?#iefix') format('embedded-opentype'),
url('../fonts/playfairdisplay-webfont.woff') format('woff'),
url('../fonts/playfairdisplay-webfont.ttf') format('truetype'),
url('../fonts/playfairdisplay-webfont.svg#latolight') format('svg');font-weight:normal;font-style:normal;}